<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'partials/head.html' %}
</head>
<body class="flex flex-dir-col flex-just-str">
  <div class="skip-links">
    <a href="#main-content">Skip to main content</a>
  </div>
  <div class="page-wrapper grid">
    <header>
      <div class="content-wrapper">
        {% block header %}
        {% include 'partials/header.html' %}
        {% endblock %}
      </div>
    </header>
    <main id="main-content" tabindex="-1">
      <div class="content-wrapper">
        <nav role="navigation" aria-label="mobile navigation" class="flex">
          <ul class="flex flex-dir-col">
            {% set links = navigation.main %}
            {% for link in links %}
            <li class="flex">
              <a href="{{link.href}}">{{link.text}}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        {% block main %}
        {{content | safe}}
        {% endblock %}
      </div>
    </main>
    <footer>
      <div class="content-wrapper">
        {% block footer %}
        {% include 'partials/footer.html' %}
        {% endblock %}
      </div>
    </footer>
  </div>
  {% include 'partials/foot.html' %}
</body>
</html>
