<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title if title else "Git Portfolio"}}</title>
</head>
<body>
  {% block header %}
  <header>
    TODO: HEADER
  </header>
  {% endblock %}
  {% block main %}
  <main>
    {{content | safe}}
  </main>
  {% endblock %}
  {% block footer %}
  <footer>
    TODO: FOOTER
  </footer>
  {% endblock %}
</body>
</html>
