<div class="wrapper flex">
  <nav role="navigation" aria-label="main navigation" class="flex bb-reset items-cntr">
    <ul class="flex flex-end flex-wrap">
      <li class="header-logo"><a href="/">{{site.title}}</a></li>
      {% set links = navigation.main %}
      {% for link in links %}
      <li>
        <a href="{{link.href}}">{{link.text}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <button class="nav-toggle visible-sm" aria-expanded="false" aria-label="toggle navigation menu">
    <span class="material-icons nav-hamburger-icon" title="open navigation menu" aria-label="open navigation menu">menu</span>
    <span class="material-icons nav-close-icon" title="close navigation menu" aria-label="close navigation menu">close</span>
  </button>
</div>
