<div class="wrapper flex">
  <nav role="navigation" aria-label="main navigation" class="flex bb-reset items-cntr">
    <ul class="flex flex-end flex-wrap">
      <li class="header-logo"><a href="/">{{site.title}}</a></li>
      {% set links = navigation.main %}
      {% for link in links %}
      <li>
        <a href="{{link.href}}">{{link.text}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <button class="nav-toggle visible-sm" aria-expanded="false" aria-label="toggle navigation menu">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" aria-hidden="true">
      <g id="nav-hamburger-icon" title="open navigation menu" aria-label="open navigation menu">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/>
      </g>
      <g id="nav-close-icon" title="close navigation menu" aria-label="close navigation menu">
        <path fill="none" d="M0 0h24v24H0z"/>
        <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-11.414L9.172 7.757 7.757 9.172 10.586 12l-2.829 2.828 1.415 1.415L12 13.414l2.828 2.829 1.415-1.415L13.414 12l2.829-2.828-1.415-1.415L12 10.586z"/>
      </g>
    </svg>
  </button>
</div>
