<ul class="profiles flex flex-wrap">
  <span class="profile flex items-cntr font-lrg">Find me on: </span>
  <li class="profile" id="github">
    <a
      href="https://github.com/jordanhailey"
      class="profile-link flex"
      target="_blank"
      rel="noopenner noreferrer"
      ><i class="font-lrg fab fa-github" alt="GitHub Profile"></i>
      <span class="sr-only">Follow me on GitHub: @jordanhailey</span>
    </a>
  </li>
  <li class="profile" id="codepen">
    <a
      href="https://codepen.io/jordanhailey/"
      class="profile-link flex"
      target="_blank"
      rel="noopenner noreferrer"
      ><i class="font-lrg fab fa-codepen" alt="Codepen Profile"></i>
      <span class="sr-only">Follow me on CodePen: @jordanhailey</span>
    </a>
  </li>
  <li class="profile" id="free-code-camp">
    <a
      href="https://www.freecodecamp.org/jordanhailey"
      class="profile-link flex"
      target="_blank"
      rel="noopenner noreferrer"
      ><i class="font-lrg fab fa-free-code-camp" alt="Free Code Camp Profile"></i>
      <span class="sr-only">Visit my Free Code Camp Profile: @jordanhailey</span>
    </a>
  </li>
  <li class="profile" id="twitter">
    <a
      href="https://twitter.com/Halfro_American"
      class="profile-link flex"
      target="_blank"
      rel="noopenner noreferrer"
      ><i class="font-lrg fab fa-twitter" alt="Twitter Profile"></i>
      <span class="sr-only">Follow me on Twitter: @Halfro_American</span>
    </a>
  </li>
  <li class="profile" id="linkedin">
    <a
      href="https://www.linkedin.com/in/jordanhailey/"
      class="profile-link flex"
      target="_blank"
      rel="noopenner noreferrer"><i class="font-lrg fab fa-linkedin" alt="Linkedin Profile"></i>
      <span class="sr-only">Follow me on LinkedIn: Jordan Hailey</span>
    </a>
  </li>
</ul>
